*{
    padding: 0;
    margin: 0;
}


.navbar {
    margin-left: -15px;
    margin-right: -12px;
}

h1{
    font-family: 'Otomanopee One', sans-serif;
}
.bg-color{
    background-color:darkslategray;
    color: white;
}
